@page
@model AppSec.Pages.ReviewPageModel
@{
    ViewData["Title"] = "ReviewPage";
}

<h2>ReviewPage</h2>

div class="container">

<div class="col-xs-12">

    @foreach (var review in @Model.Reviews) {
    @Html.Partial("_ReviewPart", review)
        }

</div>



