@page
@model AppSec.Pages.ReviewPageModel
@{
    ViewData["Title"] = "Twoje Recenzje";
}


<div class="jumbotron">
    <div class="container">
        <h2>Twoje Recenzje</h2>
        <h6>Oceniaj swoje ulubione restauracje z całego świata</h6>
    </div>
</div>

<div id="n" class="container">
    <div class="col-xs-12">

        @foreach (var review in @Model.Reviews) {
            @Html.Partial("_ReviewPart", review)
        }

    </div>
</div>



