@page

@model AppSec.Pages.ReviewPageModel
@{
    ViewData["Title"] = "Twoje Recenzje";
}



<div class="jumbotron">
    <div class="container">
        <h2>Twoje Recenzje</h2>
        <h6>Oceniaj swoje ulubione restauracje z całego świata</h6>
    </div>
</div>
<div class="col-xs-5 review-image jumboBrowse">
</div>
<div class="jumbotron col-xs-7 jumboBrowse center" style="">
    <h4>Chcesz dodać opinie lub ocenić restaurację?</h4>
    <p> <a asp-action="CreateReview"><button class=" btn btnWide btn-border color-4 material-design" href="#" role="button">Dodaj recenzję</button></a></p>
</div>

<div id="n" class="container">
    <div class="col-xs-12">

        @foreach (var review in @Model.Reviews) {
            @Html.Partial("_ReviewPart", review)
        }

    </div>
</div>



