
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand logo" text-color="#fff">Foodie</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Shared/Personal">Przeglądaj</a></li>
                <li><a asp-page="/Shared/ReviewPage">Recenzje</a></li>
                <li><a asp-page="/Contact">Kontakt</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
