@using OdeToFood.Models
@model Restaurant

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/partial.css" asp-append-version="true" />
@{
    Html.RenderPartial("_HeaderNavBar");
}
<div class="container  outer ">
    <div class="container middle ">
        <br /><br /><br />
        <div class="inner">
            <h1>Dodaj restauracę</h1>
            <div class="jumbotron col-xs-4 jumboBrowse inner create full review">
                <h4>Wypełnij dane lokalu</h4>
                <p>

                    <form method="post">

                        <div>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <textarea asp-for="Description"></textarea>

                        <div>
                            <label asp-for="Cuisine"></label>
                            <select asp-for="Cuisine"
                                    asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
                            <span asp-validation-for="Cuisine"></span>
                        </div>

                        <input type="submit" name="save" value="Save" class=" btn btnWide btn-border color-4 material-design" />
                    </form>
                </p>
            </div>
        </div>
</div>
</div>
